* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    line-height: 1.6;
  }

.main{
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    flex-direction: column;
    padding: 20px;
    gap: 80px;
}

.one
h1{
    display: flex;
    font-size: 48px;
    font-weight: 900;
}

.one{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    word-wrap: break-word;
}

.one, .two {
    flex: 1; /* makes them share space equally */
  }
  
.two {
    width: 400px;
    height: 200px;
    background-color: #6b7280;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

.subheader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px; /* espaço entre o texto e a imagem */
    padding: 60px 120px;
}

.quote{
    background-color: #E5E7EB;
    display: flex;
    height: 300px;
}

.header{
    display:flex;
    justify-content: space-around;
}

.link{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.middle{
    display: flex;
    height: 300px;
}


.end{
    display: flex;
    height: 300px;
}